body{
    background-color: black;
}
.home{
    color: aliceblue;
    text-align: center;
}
#vin{
    color: #e66e27;
}
img{
    border-radius: 50%;
    border: solid #e66e27;
}
.nin{
color: #e66e27;
}
#jij{
    text-align: center;
}
.kik{
    color: aliceblue;
    display: flex;
    justify-content: space-evenly;
    
}