body{
    background-color: black;
}
#nun{
    color: aliceblue;
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0%;
    padding: 0%;
    padding-top: .5rem;
}
nav{
    background-color: #e66e27; 
    height: 2rem;  
}
.home{
    color: aliceblue;
    text-align: center;
}
#vin{
    color: #e66e27;
}
img{
    border-radius: 50%;
    border: solid #e66e27;
}
.nin{
color: #e66e27;
}
#jij{
    text-align: center;
}
.kik{
    color: aliceblue;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}

nav ul li a {
    color: aliceblue;
    text-decoration: none;
    
    
}
div ul li{
margin: .7rem;
}